<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Course</h2>
                    <h3 class="section-subheading text-muted">Recent courses taught. To see the full list, please refer to the 'courses' section</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019-1</h4>
                                    <h4 class="subheading">Introduction to Psychology</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Although most of what we know about psychology has risen from controlled laboratory experiments, it impacts our everyday lives in many ways. 
                                        Throughout this study of human behavior and the mind, you will learn the fundamental issues in psychology, 
                                        while exploring current theories and issues in areas such as cognition, motivation, and wellness.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018-2</h4>
                                    <h4 class="subheading">Engineering Psychology and Human Factors</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> This course is designed to introduce students to the human cognitive capabilities and limitations in the design of products, work places, and machine systems.
                                        The goal of this course is to understand perceptual and cognitive characteristics of users 
                                        (e.g., attention, memory, decision making) and apply the knowledge to promote effective human performance systems. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018-2</h4>
                                    <h4 class="subheading">Affective Science</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> This course will provide reviews of the basic sciences of human cognition and emotion, and how these two domains of human functioning can mutually influence each other.
                                        We will focus on selected key topics within the areas of affective neuroscience, attention, memory, emotion, decision making, social cognition, and emotion regulation.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018-1</h4>
                                    <h4 class="subheading">Advanced Seminar in Attention and Performance</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Attention is a dominant theoretical construct in contemporary experimental psychology. 
                                        In this seminar, we will review classic theories of attention and also discuss recent papers in the field of attention and performance. 
                                        We will also explore how recent advances of neuroscience contributes to the study of human attention and performance.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Full
                                    <br>List of
                                    <br><a href="http://hahnlab.snu.ac.kr/?page_id=369">Courses</a></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
