<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                   <!--<h3 class="section-subheading text-muted"></h3> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Human Factors</h4>
                    <p class="text-muted">Human factors and engineering psychologists study how people interact with machines and technology. 
                        Human factors and engineering psychologists apply psychological science to help businesses design products, systems, and devices.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Human-Robot Interaction</h4>
                    <p class="text-muted">Human-Robot Interaction (HRI) is a field of study that aims to understand, design, and evaluate robotic systems interacting with humans. 
                        Researchers in this field not only investigate the physical aspects of an interaction, but also focus on the ethical aspects of a social interaction. 
                        Examples of research topic in HRI includes (but not limited to) remote interaction (i.e., when Mars Rovers separated from the Earth) and proximate interaction (i.e., when humans and robots are co-located).</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Emotional Design</h4>
                    <p class="text-muted">How will robots respond to human emotions? How can emotion influence our decision-making process and how can design be shaped to influence the emotion in the best possible way? 
                        Any design must meet the capabilities, limitations, and needs of the people who use it. Industrial designers and UX designers work to improve user experience, prevent injuries, and reduce user error. 
                        In this sense, all design is emotional, regardless of whether it was intended to be. 
                        In his book Emotional Design: Why We Love (or Hate) Everyday Things, Donald Norman emphasizes the role of emotion as we interact with everyday objects.</p>
                </div>
            </div>
        </div>
    </section>
